.nav{
    width: 100%;
	height: 60px;
	background-color: rgb(14, 226, 191);
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	padding: 0px 80px;
	position: fixed;
	top: 0;
	z-index: 1;
	caret-color: transparent;
}

.nav_logo{
    position: fixed;
        font-family: cursive;
        font-size: 1.8em;
		font-weight: 800;
}
.nav_logo span{
    color: #e74c3c;
}

.nav_button{
 position: fixed;
 right: 0%;
}

.nav_button a {
	display: inline-block;
	padding: 10px 20px;
	background: #ff0000;
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin: 10px 15px 0px 15px;
	border-radius: 5px;
    right: 0px;

}

.nav_button a:hover {
	background: transparent;
	border: 1px solid #e74c3c;
	color: black;
	transition: 0.4s ease;
}