  .container {
    margin-top: 60px;
    padding: initial;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: calc(99vh - 60px);
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    caret-color: transparent;
  }

  .container .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .container .rightSide {
    position: relative;
    flex: 70%;
    background: #e5ddd5;
  }

  .container .rightSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    opacity: 0.06;
  }

  .header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .userimg {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .nav_icons {
    display: flex;
  }

  .nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
  }

  .nav_icons b {
    color: rgb(0, 0, 0);
    width: 20px;
    min-width: 70px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }

  .search_chat div {
    width: 100%;
  }

  .search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
    caret-color: auto;
  }

  .search_chat div input::placeholder {
    color: #bbb;
  }

  .search_chat svg {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
  }

  .chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow: auto;
  }

  .chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }

  .chatlist .block.active {
    background: #e0ffff;
  }

  .chatlist .block:hover {
    background: #87cefa;
  }

  .chatlist .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }

  .chatlist .block .details {
    position: relative;
    width: 100%;

  }

  .chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .chatlist .block .details .listHead h4 {
    font-size: 1em;
    width: 15em;
    font-weight: 600;
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #aaa;
    overflow: hidden;
    white-space: nowrap;
  }

  .chatlist .block .details .listHead .time {
    color: #111;
  }

  .chatlist .block.unread .details .listHead .time {
    color: #06d755;
  }

  .message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }

  .message_p p {
    color: rgb(59, 56, 56);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20em;
  }

  .imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgText h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
  }

  .imgText h4 span {
    font-size: 0.8em;
    color: #555;
  }

  /* CHAT BOX */
  .chatbox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
    background-color: #fafad2;
  }

  .message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }

  .message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #f0fff0;
    border-radius: 10px;
    font-size: 0.9em;
  }

  .message p::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,
        #dcf8c6 0%,
        #dcf8c6 50%,
        transparent 50%,
        transparent);
  }

  .message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }

  span.newDayDate{
    margin-left: 25em;
    margin-right: 20em;
    font-size: large;   
  }

  .friend_msg_img {
    height: 20em;
    font-weight: 500;

  }

  .my_msg {
    justify-content: flex-end;
  }

  .friend_msg {
    justify-content: flex-start;
  }

  .friend_msg p {
    background: #fff;
    text-align: left;
  }

  img.img {
    height: 300px;
    width: 21em;
    justify-content: end;
    padding: 5px;
    margin: 25px 0px 25px 0px;
  }

  .message .friend_msg img {
    width: 200px;
    height: 10%;
  }

  video {
    margin: 25px 5px 25px 5px;
    padding: 5px;
  }




  span.videoTime {
    height: 10px;
    display: block;
    position: relative;
    padding: 10px;
    top: 27em;
    right: 6em;
    font-size: 0.85em;
    /* opacity: 3; */
    color: rgb(8, 8, 8);
  }

  span.imgTime {
    height: 10px;
    display: block;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 22.5em;
    right: 6em;
    font-size: 0.85em;
    /* opacity: 3; */
    color: rgb(0, 0, 0);
  }

  .message.friend_msg p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,
        #fff 0%,
        #fff 50%,
        transparent 50%,
        transparent);
  }

  .chat_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    caret-color: transparent;
  }

  .chat_input svg {
    cursor: pointer;
    font-size: 25px;
    color: #51585c;
    margin: 4px 14px 0px 5px;

  }

  .chat_input svg:nth-child(1) {
    margin-right: 25px;
    height: 25px;
    font-size: 26px;

  }

  .chat_input svg:nth-child(2) {
    margin-right: 25px;
    height: 25px;
    font-size: 26px;

  }

  .chat_input input[type='text'] {
    position: relative;
    width: 90%;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
    caret-color: auto;


  }

  .Empty_Right_Side{
    margin: 15em 0em 0em 0.3em ;
  }
  .Empty_Right_Side h1{
    font-size: 3.43em;
    font-family:'Courier New', Courier, monospace
  }

  .column {
    margin: 5px 5px 5px 2px ;
    float: left;
    width: 23%;
    height: 2em;
   justify-content: space-around;
   border:0.4px solid #111;
   cursor:pointer;
   box-shadow: 0px 0px 2px 2px rgb(0,0,0);
   border-radius:10px;

  }
  
   .row{
   margin-top: 5px;
   margin-bottom: 5px;
   height: 3em;
   }

  .column h4{
    padding: 2px;
    text-align: center;
    font-weight: 20;
  }

  .column:hover{
    background-color: #e4e73f;
  }

  .column:active{  

    background-color:rgba(255, 28, 28, 0.722);

}